{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12" style="margin: 3% auto;text-align: right;">
        <a href="#" class="btn btn-success"  data-toggle="modal" data-target="#add">Add Task</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12" style="margin: 1% auto;">
        <table class="table table-responsive-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Reg.No.</th>
                <th scope="col">Name</th>
                <th scope="col">Task</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for task in tasks%}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{task.id}} </td>
                <td>{{task.name}} </td>
                <td>{{task.task_assign}}</td>
                {% if task.complete == 0%}
                <td>Not Complete</td>
                {%else%}
                <td>Complete</td>
                {%endif%}
               
                
                <td>
                    
                    <a href="#" class="btn btn-success ml-1 mb-2" data-toggle="modal" data-target="#up{{task.id}}" >Edit</a>
                    <button class=" btn btn-danger ml-1 mb-2" id='del{{forloop.counter}}'  value="{{task.id}}" >delete</button></td>
              </tr>
              {%endfor%}
              
             
            </tbody>
          </table>
    </div>
</div>


{% for task in tasks%}

<div class="modal fade " id="up{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    <label for="">Name:</label>
                    <input type="text" name="name" id="ed_name{{task.id}}" placeholder="Name" style="margin-top: 1%;" class="form-control" value="{{task.name}}"><br>
                    <label for="">Task:</label>
                    <textarea name="task" id="ed_task{{task.id}}" class="form-control">{{task.task_assign}}</textarea><br>
                    {% if task.complete == 0%}
                    <input type="checkbox" name="status" id="ed_status{{task.id}}"  >&nbspComplete
                    {%else%}
                    <input type="checkbox" name="status" id="ed_status{{task.id}}"  checked>&nbspComplete
                    {%endif%}
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="edit-button{{forloop.counter}}" value={{task.id}}>Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


  <!-- ADD MODAL -->

  <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add   Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    
                    <input type="text" name="name" id="add_name" placeholder="Name" style="margin-top: 1%;" class="form-control" ><br>

                    <textarea name="task" id="add_task" class="form-control" placeholder="Task"></textarea><br>

                    <input type="checkbox" name="status" id="add_status"  >&nbspComplete
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="add-button" >Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
  <script>
  
   
 $(document).ready(function() {
    // Add Function
    
    
    
    
    $('#add-button').click(function() {
          
            
            var add_name = $("#add_name").val();
            var add_task = $('#add_task').val();
            var add_status = $('#add_status').is(':checked') ? 1 : 0;
            
            $.ajax({
                type: 'POST',
                url: '{% url "add_func" %}',  
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'add_name'  :add_name,
                    'add_task'  :add_task,
                    'add_status'  :add_status,
                 
                },
                success: function(response) {
                    location.reload();
                    $("#ids").val("")
                },
                error: function(xhr, status, error) {
                    $('#result').html('An error occurred: ' + error);
                }
            });
        });
    // Edit Function
    for (var i = 0; i < `{{tots}}`; i++) {
        j=i+1
        console.log(j)
        $(`#edit-button${j}`).click(function() {
            var key = $(this).val(); 
          
            var ed_name = $("#ed_name"+key).val();
            var ed_task = $('#ed_task'+key).val();
            
            var ed_status = $('#ed_status'+key).is(':checked') ? 1 : 0;
            
            $.ajax({
                type: 'POST',
                url: '{% url "edit_func" %}',  
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'ed_name'  :ed_name,
                    'ed_task'  :ed_task,
                    'ed_status'  :ed_status,
                    'id': key,
                },
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    $('#result').html('An error occurred: ' + error);
                }
            });
        });

        // delete function
        $(`#del${j}`).click(function() {
            var key = $(this).val(); 
          
            
            $.ajax({
                type: 'GET',
                url: '{% url "delete_fuc" %}',  
                data: {

                    'id': key,
                },
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    $('#result').html('An error occurred: ' + error);
                }
            });
        });
    }
    });
</script>

{% endblock %}